# =======================================================

# Nearly all parameters can be overridden in ansible-playbook
# or with command line flags. Ansible will read ANSIBLE_CONFIG,
# ansible.cfg in the current working directory, .ansible.cfg in
# the home directory, or /etc/ansible/ansible.cfg, whichever it
# finds first

# For a full list of available options, run ansible-config list or see the
# documentation: https://docs.ansible.com/ansible/latest/reference_appendices/config.html.



[defaults]
inventory =  environments/dev
hostfile = environments/hosts
roles_path = roles

# Remote host settings
sudo_user = root
sudo_exe = sudo
host_key_checking = False

# How Ansible should run
deprecation_warnings = False
retry_files_enabled = False
transport = smart
log_path = ansible.log
gathering = smart
fact_caching = memory
fact_caching_timeout = 86400
timeout = 10

# How Ansible uses SSH (Paramiko)
; remote_port = 22
#library         = ~/.ansible/plugins/modules:/usr/share/ansible/plugins/modules
#module_utils    = ~/.ansible/plugins/module_utils:/usr/share/ansible/plugins/module_utils
#remote_tmp      = ~/.ansible/tmp
#local_tmp       = ~/.ansible/tmp
#forks           = 5
#poll_interval   = 0.001
#ask_pass        = False
#transport       = smart
# remote_user = ec2-user
# ask_pass = False
#private_key_file = /path/to/file
#vault_password_file = /path/to/vault_password_file
strategy = linear

[inventory]
# List of enabled inventory plugins and the order in which they are used.
; enable_plugins = host_list, script, auto, yaml, ini, toml
[privilege_escalation]
#become = False
#become_method = sudo
#become_ask_pass = False
[ssh_connection]
# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
#ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s
#control_path_dir = ~/.ansible/cp
#control_path =
#pipelining = False
#scp_if_ssh = smart
#transfer_method = smart
#sftp_batch_mode = False
#usetty = True
#retries = 3

[persistent_connection]
#connect_timeout = 30

#command_timeout = 30

[sudo_become_plugin]
#flags = -H -S -n
#user = root




